<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Protected page</title>
    <!---->
    <script type="text/javascript">
        var s = "";

        while (s != "QuadCoreC1V2R3Y4") {
            s = prompt("please enter your password");
            if (s == "QuadCoreC1V2R3Y4") {
                window.location.href = "home";
            }
            else {
                alert("Incorrect password-Try again");}}

        {#window.location.href = "home";#}
    </script>
</head>
<body>

</body>
</html>
