{% extends 'base.html' %}

{% block content %}
    <div class="tm-container-outer" ></div>
    <div class="wrapper">
        <h2 class="content-page-title content-page-title-style-1 subtitle">
            Victorians who pay fees for public dental care
        </h2>
         <div class="summary">
                Providers of public dental care charge fees to:
            <ul>
                    <li>Victorians can also access dental services through the Australian Government’s Child Dental Benefits Schedule.</li>
                    <li>If people have concerns about the dental care they are receiving, they should contact the clinic which provided the care or the Health Complaints Commissioner.</li>
            </ul>
        </div>
    <h2 class="content-page-title content-page-title-style-1">
            Fee schedule
        </h2>

<div id="accordion" role="tablist">
  <div class="cardy">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          People aged 18 years or over
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">

        The following fees are charged for people aged 18 years and over who hold a health care or pensioner
          concession card, or who are dependants of concession card holders:
          <ul>
            <li>$28 fee per visit, to a maximum of $112 for a general course of care (includes an examination and all general dental treatment)</li>
            <li>$28 flat fee for an emergency course of care (includes assessment and treatment of the tooth, gum or denture that is causing pain)</li>
            <li>$67.50 per denture, capped at $135 for full upper and lower dentures.</li>
          </ul>

      </div>
    </div>
  </div>
  <div class="cardy">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Children
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
          Fees charged for children aged 0-12 years who are not healthcare or pensioner concession card holders and not dependants of concession card holders:
                    <ul>
                        <li>$33 flat fee per child for a general course of care (includes an examination and all general dental treatment). Fees per family will not exceed $132. </li>
                    </ul>
      </div>
    </div>
  </div>
  <div class="cardy">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Specialist services
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
             Fees for specialist services (Royal Dental Hospital Melbourne only) depend on the treatment. They will not be more than $338 for a course of care.
      </div>
    </div>
  </div>
    <div class="cardy">
    <div class="card-header" role="tab" id="headingFour">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Fee exceptions
        </a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
          Providers of public dental care do not charge fees to:
          <ul>
            <li>Aboriginal and Torres Strait Islander people</li>
             <li>people who are homeless or at risk of homelessness</li>
<li>refugees and asylum seekers</li>
<li>children and young people aged 0-17 years who hold a health care or pensioner concession card, or who are dependants of concession card holders</li>
<li>all children and young people who are in out-of-home care provided by the Department of Health & Human Services, up to 18 years of age</li>
<li>all people in youth justice custodial care, up to 18 years of age</li>
<li>people registered with mental health and disability services, supported by a letter of recommendation from their case manager or a special developmental school</li>
<li>people receiving care from undergraduate students</li>
<li>people experiencing financial hardship (as assessed by a qualified staff member).</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<br>
Resource
<ul>
    <li>
        <a href="https://www2.health.vic.gov.au/" target="_blank">health.vic</a>
    </li>
</ul>
</div>



{% endblock %}