{% extends 'base.html' %}

{% block content %}
    <div class="tm-container-outer" ></div>
    <div class="wrapper">
        <h2 class="content-page-title content-page-title-style-1 subtitle">
            Access to Victoria’s public dental care services
        </h2>
        <div class="summary">
            <ul>
                <li>Some Victorians are eligible for public dental care services, and some people receive priority access to those services.</li>
                <li>Anyone who is not a priority patient will be placed on the appropriate waiting list.</li>
                <li>Private dental care providers can provide public dental services through one of the department’s voucher schemes.</li>
                    <li>Victorians can also access dental services through the Australian Government’s Child Dental Benefits Schedule.</li>
                    <li>If people have concerns about the dental care they are receiving, they should contact the clinic which provided the care or the Health Complaints Commissioner.</li>
            </ul>
        </div>

                <div id="accordion" role="tablist">
  <div class="cardy">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Victorians who are eligible for public dental care?
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">

              The following people are eligible for public dental care:
                <ul>
                    <li>All children aged 0–12 years
                    <li>Young people aged 13–17 years who hold a healthcare or pensioner concession card, or who are dependants of concession card holders
                    <li>People aged 18 years and over, who are health care or pensioner concession card holders or dependants of concession card holders
                    <li>All children and young people in out-of-home care provided by the Department of Health & Human Services, up to 18 years of age
                    <li>All people in youth justice custodial care, up to 18 years of age
                    <li>All refugees and asylum seekers.
                </ul>
            </li>

      </div>
    </div>
  </div>
  <div class="cardy">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          About priority access
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">

            Victorians who have priority access to dental care are offered the next available appointment for general care. They are not placed on the General Waiting List.
            If the person has denture care needs, then they will be offered the next available appointment for denture care or placed on the Priority Denture Waiting List.
            <br>
            <br>
            <strong>People who have priority access</strong>
            <br>

            <li>The following people have priority access to public dental services:</li>
                    <ul>
                        <li>Aboriginal and Torres Strait Islander people </li>
                        <li>Children and young people  </li>
                        <li>People who are homeless or at risk of homelessness  </li>
                        <li>Pregnant women  </li>
                        <li>Refugees and asylum seekers  </li>
                        <li>People registered with mental health and disability services, who have a letter of recommendation from their case manager or a special developmental school. </li>
                    </ul>
            All other people seeking routine dental or denture care need to place their name on a waiting list.
                </li>

      </div>
    </div>
  </div>
  <div class="cardy">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Victoria’s dental voucher schemes
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
              To deliver more public dental services, the department sometimes relies on the private sector to provide care.
              Private dental clinicians provide care through three schemes:
                    <ul>
                        <li>the Victorian Emergency Dental Scheme (VEDS)</li>
                        <li>the Victorian General Dental Scheme (VGDS) </li>
                        <li>the Victorian Denture Scheme (VDS).</li>

            <li>DHSV and community dental clinics have detailed information about how to access these schemes.</li>
                        </ul>
      </div>
    </div>
  </div>
                    <div class="cardy">
    <div class="card-header" role="tab" id="headingFour">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Australian Government’s Child Dental Benefits Schedule
        </a>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
          Victorians can also access dental services through the Australian Government’s Child Dental Benefits Schedule. The schedule started on 1 January 2014 and provides up to $1,000 in dental benefits over two years for children aged 2–17 years in families that are eligible for Family Tax Benefit A. Access by public providers to the schedule is confirmed until 31 December 2019. Medicare has more information about the Child Dental Benefits Schedule.
      </div>
    </div>
  </div>
</div>
    <br>
Resource
<ul>
    <li>
        <a href="https://www2.health.vic.gov.au/" target="_blank">health.vic</a>
    </li>
</ul>
</div>
    </div>


{% endblock %}