{% extends 'base.html' %}

{% block content %}
    <div class="tm-container-outer" ></div>
    <div class="wrapper" >
        <h2 class="content-page-title content-page-title-style-1 subtitle">
            What if I don’t speak English very well?
        </h2>
          <div class="summary">
            You have a right to have an interpreter available, by phone or in person, during any health visit (in the hospital or at the doctor).
            <br>
            <br>
            Please always ask for an interpreter if your don’t understand what is happening or what is being said.
            <br>
            <br>
            Look for or show this symbol to your doctor or nurse so they can arrange an interpreter for you. Interpreter symbol
            <br>
            <br>
            The Australian Government supports a translating and interpreting service called TIS National
            <ul>
                <li>TIS National is free to access within most Australian dental clinics.
                <li>TIS National can provide an immediate telephone interpreting service.</li>
                <li>TIS National have access to over 2 900 interpreters, who speak 180 languages and dialects.</li>
                <li>TIS National telephone interpreters are available 24 hours a day, seven days a week.</li>
                <li>TIS National can help in emergency situations from anywhere in Australia.</li>
            </ul>
            To use a TIS National interpreter call <a href="tel:13 14 50" >13 14 50</a> and tell the operator which language you speak.
            <ul>
                <li>The operator will contact an interpreter in your language to help you.
                <li>If you need emergency services (Police, Fire, Ambulance), you can call “000” (“112” will also work on your mobile phone if you don’t have a signal).
                <li>If you have a caseworker they will show you how to use this service.
                <li>A doctor can also pre-book an on-site interpreter for you, if this is required.
                <li>Pharmacies can also use telephone interpreters to speak with you about medicines.
                <li>For more information, please visit: <a href="http://www.tisnational.gov.au/">TIS National</a>
            </ul>
        </div>
Resource
<ul>
    <li>
        <a href="https://www.tisnational.gov.au/" target="_blank">TIS National</a>
    </li>
</ul>
  </div>
{% endblock %}